In [ ]:
import pandas as pd
import sqlite3
import glob

In [ ]:
import datetime
d = datetime.date(2020,1,1)
d

datetime.date(2020, 1, 1)

In [ ]:
path = "/content/drive/My Drive/股票/"
csvFiles = glob.glob(path+"每日歷史紀錄/*.csv")

In [ ]:
df = pd.read_csv(csvFiles[0])
df.iloc[:,1:].head()

   證券代號     證券名稱        成交股數   成交筆數  ... 最後揭示買量 最後揭示賣價 最後揭示賣量   本益比
0  0050   元大台灣50  16,999,486  5,496  ...    923  84.95    196  0.00
1  0051  元大中型100      19,588     13  ...     38  34.45      3  0.00
2  0052     富邦科技     116,313     12  ...      2  59.45      2  0.00
3  0053     元大電子      19,200     18  ...     22  37.51     15  0.00
4  0054   元大台商50       8,000      6  ...     10  23.32      1  0.00

[5 rows x 16 columns]

In [ ]:
dbName = "twstock.db"
db = sqlite3.connect(dbName)

In [ ]:
for file in csvFiles:
  name = file.replace(".csv","")[-8:]
  df = pd.read_csv(file)
  df.iloc[:,1:].to_sql(name, db, if_exists="replace")

In [ ]:
dateList = [file.replace(".csv", "")[-8:] for file in csvFiles]
dateList[0]

'20190914'

In [ ]:
pd.read_sql(con=db, sql="select * from '{}'".format(dateList[0]))

      index  證券代號     證券名稱        成交股數  ... 最後揭示買量 最後揭示賣價 最後揭示賣量     本益比
0         0  0050   元大台灣50  16,999,486  ...    923  84.95    196    0.00
1         1  0051  元大中型100      19,588  ...     38  34.45      3    0.00
2         2  0052     富邦科技     116,313  ...      2  59.45      2    0.00
3         3  0053     元大電子      19,200  ...     22  37.51     15    0.00
4         4  0054   元大台商50       8,000  ...     10  23.32      1    0.00
...     ...   ...      ...         ...  ...    ...    ...    ...     ...
1096   1096  9944       新麗      11,000  ...      1  17.30      8    0.00
1097   1097  9945      潤泰新   1,586,795  ...     21  43.20      1    4.49
1098   1098  9946     三發地產     705,230  ...     14  23.20      3    5.47
1099   1099  9955       佳龍     442,613  ...     66  19.20      1    0.00
1100   1100  9958      世紀鋼   5,940,537  ...     47  77.80     10  485.62

[1101 rows x 17 columns]

In [ ]:
total_df = pd.DataFrame()

for date in dateList:
  df = pd.read_sql(con=db, sql="select * from '{}'".format(date))
  df['Date'] = date
  total_df = total_df.append(df)

In [ ]:
total_df.shape
tuple(total_df.groupby('證券代號'))

In [ ]:
dbname_2 = path + 'twstock_indie.db'
db2 = sqlite3.connect(dbname_2)

NameError: ignored

In [ ]:
total_dict = dict(tuple(total_df.groupby('證券代號')))

for key in total_dict.keys():
    df = total_dict[key].iloc[:,2:-1]
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.sort_values(by=['Date'])
    df.to_sql(key,db2,if_exists='replace')

NameError: ignored

In [ ]:
print(pd.read_sql(con=db2,sql='SELECT * FROM "2330"').tail())
print(pd.read_sql(con=db2,sql='SELECT * FROM "0050"').tail())

NameError: ignored